# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python 
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Scikit-learn
* Pandas

| Data Science Tools |
| ----------------- |
| Jupyter Notebooks | 
| Rstudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
x=(3*4)+5
# This a simple arithmetic expression to mutiply then add integers
print(x)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
h=200/60
print(h)

3.3333333333333335

**Objectives:**
* Python
* SQL
* R
* Julia
* Java

## Author
Lu